@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

/* Global default text color */
@layer base {
  body {
    @apply text-primary-500;
  }
}